appdirs==1.4.3
asgiref==3.2.3
astroid==2.3.3
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5
Babel==2.8.0
backcall==0.1.0
bcrypt==3.1.7
bleach==3.1.0
blinker==1.4
blis==0.4.1
catalogue==1.0.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cycler==0.10.0
cymem==2.0.3
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.3
dnspython==1.16.0
docutils==0.16
email-validator==1.1.1
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
Flask-Admin==1.5.6
Flask-BabelEx==0.9.4
Flask-Bcrypt==0.7.1
Flask-Ext==0.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Modus==0.0.1
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SQLAlchemy==2.4.1
Flask-Uploads==0.2.1
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.3
glob3==0.0.1
idna==2.9
ipykernel==5.1.3
ipython==7.10.2
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.3
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
kivy-deps.angle==0.1.10
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.18
kivy-deps.sdl2==0.1.23
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.4.0
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==4.4.0
nltk==3.4.5
notebook==6.0.2
numpy==1.18.1
openpyxl==3.0.3
packaging==20.4
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.2
passlib==1.7.2
patsy==0.5.1
pdfkit==0.6.1
pickleshare==0.7.5
Pillow==7.2.0
pipenv==2018.11.26
plac==1.1.3
pluggy==0.13.1
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
py==1.9.0
pycodestyle==2.5.0
pycountry==20.7.3
pycparser==2.20
Pygments==2.5.2
pylint==2.4.4
pyparsing==2.4.6
pypiwin32==223
pyrsistent==0.15.6
pytest==5.4.3
python-dateutil==2.8.1
pytz==2019.3
pywin32==227
pywinpty==0.5.7
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.23.0
scikit-learn==0.22.2
scipy==1.4.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.13.0
sklearn==0.0
spacy==2.2.3
speaklater==1.3
SQLAlchemy==1.3.16
sqlparse==0.3.1
squid==0.0.4
srsly==1.0.1
statsmodels==0.11.0
stripe==2.49.0
terminado==0.8.3
testpath==0.4.4
thinc==7.3.1
tornado==6.0.3
tqdm==4.43.0
traitlets==4.3.3
urllib3==1.25.8
virtualenv==20.0.8
virtualenv-clone==0.5.3
virtualenvwrapper-win==1.2.6
wasabi==0.6.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
Whoosh==2.7.4
widgetsnbextension==3.5.1
wrapt==1.11.2
WTForms==2.3.1
WTForms-SQLAlchemy==0.2