{% extends 'layout.html' %}

{% block content %}
    <!-- Page Title
           ================================================== -->
    <section id="page-title">
    
        <div class="row">
    
            <div class="twelve columns">
    
                <h1>You don't have permission to do that (403)<span>.</span></h1>
                <p>Please check your account and try again</p>
    
            </div>
    
        </div> <!-- /row -->
    
    </section> <!-- /page-title -->
{% endblock content %}