{% extends 'layout.html' %}

{% block content %}

    <!-- Page Title
       ================================================== -->
    <section id="page-title">
    
        <div class="row">
    
            <div class="twelve columns">
    
                <h1>Register<span>.</span></h1>
                <p>To use all of our website functiomalities please register.</p>
    
            </div>
    
        </div> <!-- /row -->
    
    </section> <!-- /page-title -->


    <section id="contact">
        <div class="row form-section">
        
            <div id="contact-form" class="twelve columns">
        
                <form name="contactForm" id="contactForm" method="post" action="">
                    {{ form.hidden_tag() }}
                    <fieldset>
        
                        <div class="row">
        
                            <div class="six columns mob-whole">

                                {{ form.username.label }}

                                {% if form.username.errors %}
                                    {{ form.username(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(placeholder='Username') }}
                                {% endif %}
                                
                            </div>
        
                            <div class="six columns mob-whole">
                                

                                {{ form.email.label }} 

                                {% if form.email.errors %}
                                    {{ form.email(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(placeholder='Email') }}
                                {% endif %}
                            </div>
        
                        </div>
        
                        <div class="row">
        
                            <div class="six columns mob-whole">
                                {{ form.password.label }}

                                {% if form.password.errors %}
                                    {{ form.password(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(placeholder='Password') }}
                                {% endif %}
                            </div>
        
                            <div class="six columns mob-whole">
                                {{ form.confirm_password.label }}

                                {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.confirm_password(placeholder='Confirm Password') }}
                                {% endif %}
                            </div>
        
                        </div>
        
                        
        
                        <div>
                            {{ form.submit(class='button primary full-width') }}
                            <div id="image-loader">
                                <img src="{{ url_for('static', filename='images/loader.gif') }}" alt="" />
                            </div>
                        </div>

                        <div class="border-top pt-3">
                            <small class="text-muted">
                                Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
                            </small>
                        </div>
        
                    </fieldset>
        
                </form> <!-- /contactForm -->
        
                <!-- message box -->
                <div id="message-warning"></div>
                <div id="message-success">
                    <i class="fa fa-check"></i>Your message was sent, thank you!<br />
                </div>
        
            </div> <!-- /contact-form -->
        
        </div> <!-- /form-section -->
    </section>
{% endblock content %}